html {
    font-family: arial, sans-serif;
    color:rgb(58, 58, 58)
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-link {
    font-size: 13px;
    padding-left: 1em;
    color: rgb(36, 36, 36);
    text-decoration: none;
}
a.nav-link:hover{
    text-decoration: underline;
}
#more-apps-img {
    width: 1.5em;
    height: 1.5em;
    padding: 0 0.5em 0 0.5em;
}
#profile-img {
    width: 2em;
    border-radius: 50%;
}
#google-searchbar {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 8%;
}
#google-options {
    display: flex;
    justify-content: space-between;
}
.option-below-searchbar {
    padding: 1em 2em 1em 2em;
    font-size: 14px;
}
#google-textbox {
    width: 40%;
    height: 3em;
    border-radius: 30px;
    background-image: url(../images/outline_search_black_24dp.png);
    background-position: 8px 10px;
    background-repeat: no-repeat;
    background-size: 4%;
    border-style:solid;
    border-width: 1px;
    padding-left: 40px;
}
input:hover {
    box-shadow: 0 0 1px rgb(90, 89, 89);
}
input:focus{
    outline: none;
    }
    #google-img {
        padding-bottom: 30px;;
    }
    #more-offers-below-option {
        font-size: 13px;
    }
    .footer-link{
        color:rgb(78, 77, 77);
        font-size: 15px;
        padding-right: 2em;
    }

    #footer-left{
        display: flex;
    }
    #footer-right {
        display: flex;
    }
    footer {
        font-size: 13px;
        color:rgba(151, 150, 150, 0.856);
        display: flex;
        justify-content: space-between;
        border-top: 1px solid rgb(190, 190, 190);
        padding: 10px 5px 5px 10px;
    }
    #country {
        font-size: 15px;
        margin-left: 1em;
    }
